/* GENERAL */


@font-face {
    font-family: 'Swis721_BlkOul_BT_Black';
    src: url('../res/fonts/Swis721_BlkOul_BT_Black.ttf') format('truetype');

}

@font-face {
    font-family: 'Swis721_thin';
    src: url('../res/fonts/Swiss\ 721\ Thin.ttf') format('truetype');

}


@font-face {
    font-family: 'Swis721_Medium';
    src: url('../res/fonts/Swiss\ 721_Medium.ttf') format('truetype');

}


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../res/img/background.png");
    background-size: cover;
    /* background-position: center; */
}

body:after {
    content: url(../res/img/modal/3C1P.png) url(../res/img/modal/BUUMI.png) url(../res/img/modal/FARFLOW.png) url(../res/img/modal/LOCKSY.png) url(../res/img/modal/MO.png) url(../res/img/modal/MVNSI.png);
    display: none;
}

.title {
    margin-top: 2.5em;
    text-align: center;
}

/* HEADER */

header {
    width: 100%;
}



#header_logo {
    position: absolute;
    bottom: 3em;
    left: 3em;
    box-sizing: border-box;
    width: 5%;
    display: block;
}



.contact_button {
    display: block;
    position: fixed;
    font-size: 2.4em;
    bottom: 1.37142857143em;
    left: 0;
    right: 0;
    text-align: center
}

.contact {
    font-family: 'Swis721_thin', sans-serif;

    text-decoration: none;
    color: rgb(220, 220, 220);
    width: auto;
    text-align: center;

}

.contact:hover {
    border-bottom: 2px solid white;
}

/* FOOTER */



footer {
    width: 15%;
    display: flex;
    position: fixed;
    bottom: 3em;
    right: 3em;

}

/* footer:after{
    clear: both;
    content: "";
    display: block;
} */

footer a {
    box-sizing: border-box;
    flex: 1;
    /* width: 21.5962441315%; */
    float: left;
    margin: 0 5%;
    /* height: 100%; */
}

footer a img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

#youtube {

    flex: 1.40845070423;
    /* width: 35.2112676056%; */
    /* height: auto; */
}


/* ARTISTS */



.body {
    width: 100%;
    height: 100%;
}

.title_artists {
    margin-bottom: 1em;
}

.artists_content_mobile {
    display: none;
    width: 70%;
    margin-left: 15%;
    margin-top: 2.5em;
    margin-bottom: 5em;
}

.row_mobile:after {
    clear: both;
    content: "";
    display: block;
}

.artists_content {
    box-sizing: border-box;
    margin-top: 10em;
    width: 55%;
    margin-left: 22.5%;

}

.artists_content:after {
    clear: both;
    content: "";
    display: block;
}

.artist {
    text-align: center;
    float: left;
    width: 20%;
    transform: skewX(-10.448deg);
    clip-path: polygon(10.448% 0%, 100% 0%, 89.552% 100%, 0% 100%);
    margin-right: -5.5%;
    /* margin-bottom: -1%;  */
    box-sizing: content-box;
    overflow: hidden;

}

.artist:hover {
    cursor: pointer;
    /* transform: scale(1.01) skewX(-10.448deg); */

}

.artist img:hover {
    filter: grayscale(0%);

}

.artist img {
    filter: grayscale(100%);
    transform: skewX(10.448deg);
    transition: 0.15s;
    width: 100%;
    display: block;
    overflow: hidden;
}






#row1:after {
    clear: both;
    content: "";
    display: block;
}

#row:after {
    clear: both;
    content: "";
    display: block;
}

#row2:after {
    clear: both;
    content: "";
    display: block;
}

#modus {
    margin-left: 5%;
}

#buumi {
    margin-left: 17.5%;


}


@media only screen and (max-width: 500px) {

    body {
        background-image: url("../res/img/backgroundLong.png");
        /* background-position: center; */
        margin: 0;
        padding: 0;
        background-size: inherit;
    }

    .artists_content {
        display: none;
    }

    .artists_content_mobile {
        display: block;


    }

    .artist:first-child {
        margin-left: 6%;
    }

    #modus {
        margin-left: 6%;
    }

    #buumi {
        margin-left: 6%;
    }

    .artist {

        width: 50%;
        margin-right: -12%;


    }

    footer {
        width: 50%;
        margin-left: 25%;
        margin-bottom: 7.5em;
        display: flex;
        position: inherit;

    }

    .contact_button {
        display: block;
        position: inherit;
        font-size: 2.4em;
        bottom: 1.37142857143em;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: 1em;
    }

    #header_logo {
        position: inherit;
        width: 30%;
        margin-left: 35%;
        margin-bottom: 5em;
        box-sizing: border-box;
        display: block;
    }

    .modal .modal-content {
        width: 60%;
        margin-left: 20%;
        margin-top: 5em;
    }

    .modal_img_container .modal_artist {
        font-size: 1.75em;
    }

    .modal-content .modal_bottom {

        display: inline-block;
        position: relative;
        margin: 0;
        margin-top: 2.5em;
        right: 0;
        width: 100%;
    }

    .modal_bottom .modal_links {


        display: flex;
        transform: translateY(0%);
        top: 0;
        position: inherit;
        width: 75%;
        margin-left: 12.5%;


    }

    .modal_bottom .modal_links li {
        flex: 1;
        margin: 0 6.66%;
        width: 20%;

        float: left;
    }

    .modal-content .close {
        color: white;
        float: right;
        position: absolute;
        right: -1.5em;
        top: -1.5em;
        font-size: 28px;
        font-weight: bold;
    }

    .contact_container .contact_content {
        border: none;
        margin-top: 20%;
        width: 90%;
        margin-left: 5%;
        box-sizing: border-box;
        padding: 0;
        margin-bottom: 7.5%;
        
    }

    .contact_content .close {
        right: 0em;
        top: -2em;
    }

    .contact_content .mail_group {
        
        margin-bottom: 1em;
        margin-left: 0;
    }

    .contact_content .title_contact {
        font-size: 1.5em;
        margin-bottom: 1em;
        text-align: center;
    }

    .contact_content #team {
        margin-bottom: 1em;
        text-align: center;
    }

    .mail_group .mail_address, .mail_group .mail_info { 
        font-size: .7em;
        width: 47.5%;
        display: block;
        float: left;
        text-align: left;
    }


    .mail_group .mail_address {
        margin-left: 2.5%;
        
    }

    .mail_group .mail_info {
        margin-right: 2.5%;
        text-align: right;

    }

    .mail_group .mail_address:after {
        clear: both;
        content: "";
        display: block;
    }

    .mail_group li:after {
        clear: both;
        content: "";
        display: block;
    }
}


.artist_name {}

/* MODALS */
.modal {

    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/ opacity */
}

.modal-content {
    text-align: center;
    position: relative;
    margin: 5% 35%;
    /* 15% from the top and centered */


    width: 30%;
}

.modal_bottom {
    position: absolute;
    right: -5em;

    width: 7%;

}

.modal_bottom:after {
    clear: both;
    content: "";
    display: block;
}

.modal_links {
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal_links li {
    width: 100%;
    margin: 1em 0;
}

.modal_links img {
    width: 100%;
}

.modal_links:after {
    clear: both;
    content: "";
    display: block;
}

.close {
    color: white;
    float: right;
    position: absolute;
    right: -2.5em;
    top: -1.5em;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.modal_img_container {
    width: 100%;
    float: left;
}

.modal-content:after {
    clear: both;
    content: "";
    display: block;
}




/* .modal_links li:nth-of-type(3n+3) {
    margin-right: 0;
} */



.modal_artist {
    position: relative;
    bottom: -0.5em;
    width: 100%;
    text-align: center;
    margin: 0;
    color: rgb(220, 220, 220);
    font-size: 2.5em;
    font-family: 'Swis721_BlkOul_BT_Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.modal_img {
    width: 100%;
}



/* CONTACT */

.title_contact {
    color: white;
    font-family: 'Swis721_BlkOul_BT_Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 0;
    margin-bottom: 1.5em;
}

.contact_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}

.contact_content {

    position: relative;
    border: 1px solid rgb(153, 153, 153);
    padding: 1.5em;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 5%;
    width: 36%;
    margin-left: 32%;
}

#team {
    color: white;
    font-family: 'Swis721_BlkOul_BT_Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5em;
}

.mail_group {
    list-style: none;
    padding: 0;
    margin: 0 0 0 1em;
    margin-bottom: 2.5em;

}


.mail_group li {
    color: whitesmoke;
    margin-bottom: 0.5em;

}

.mail_address {
    font-family: 'Swis721_Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    text-align: left;
    color: whitesmoke;
}

.mail_info {
    font-family: 'Swis721_Medium', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: whitesmoke;
    /* font-style: oblique; */
}

.music {
    font-family: 'Swis721_thin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1600px) and (min-width: 1300px) {

    .artists_content {
        margin-top: 5.5em;

    }

}

@media only screen and (max-width: 1300px) {

    footer {
        font-size: .75em;
    }


    #header_logo {
        font-size: .75em;
    }

}